<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Allergen Alert!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Allergen Alert!</h1>
    <div>
      <ul style="list-style: none;">
        <li>{{ dict.1 }}</li>
        <li>{{ dict.2 }}</li>
        <li>{{ dict.3 }}</li>
        <li>{{ dict.4 }}</li>
      </ul>
    </div>
  </div>
</body>

</html>